<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<style>
body {
  font-family: sans-serif;
  font-size: 1.5em;
  color: #222;
  background-color: #fff;
}

table, input, button {
  font-family: inherit;
  font-size: inherit;
}

table {
  margin: 1em 0;
}

th, label {
  width: 8em;
  text-align: right;
  padding-right: 0.5em;
}

form div {
  margin: 0.2em 0;
}

label {
  display: inline-block;
  user-select: none;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

button {
  margin-left: 9em;
}
</style>
</head>
<body>
