<%- include('partials/_htmlhead'); -%>

<header>

  <h1><%= title %></h1>

</header>

<main>

  <h2>Sorry, an error occurred?</h2>

  <p><%= error %></p>

  <p><a href="/">Please return to the home page&hellip;</a></p>

</main>

<%- include('partials/_htmlfoot'); -%>
